{% extends '/base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    <div class="container">
        <h2>Search for a program :</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Search</button>
        {{ form_end(form) }}
    </div>
    <section class="program">
    {% for program in programs %}
        <div class="programContainer">
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <img src="{{ program.poster }}" alt="{{ program.title }} poster">
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { slug: program.slug }) }}">Show !</a>
            {% if app.user %}
                    <div class="watchlist {{ app.user.isInWatchlist(program) ? 'fas' : 'far' }}" data-text="{{path('program_watchlist', {'id': program.id})}}"></div>
                {% if is_granted("ROLE_ADMIN") or app.user == program.owner %}
                    <a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Edit</a>
                {%endif%}
            {% endif %}
        </div>

    {% else %}
        <p>Aucune série trouvée.</p>
    {% endfor %}
    </section>
    <a href="{{ path('program_new') }}">
        New program
    </a>
    <br>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('watchlist') }}
{% endblock %}