{% extends '/base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    <section class="program">
            <div class="programContainer">
                <h2>{{ program.title }}</h2>
                <img src="{{ program.poster }}" alt="{{ program.title }} poster">
                <p>{{ program.summary }}</p>
                <p>Catégorie : {{ program.category.name }}</p>
                <ul>
                {% for season in seasons %}
                    <li><a href="{{ path('program_season_show', {program: program.id, season:season.id}) }}">Season : {{ season.number }}</a></li>
                {% endfor %}
                </ul>
                <strong>Acteurs :</strong>
                <ul>
                    {% for actor in program.actors %}
                        <li><a href="{{ path('actor_show', {id: actor.id}) }}">{{ actor.name }}</a></li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>
            </div>
    </section>
    <a href="{{ path('program_edit', {id: program.id}) }}">
        Edit
    </a>
    <br>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
    <br>
    <a href="{{ path('season_new') }}">
        Add season
    </a>
    {{ include('program/_delete_form.html.twig') }}
{% endblock %}