{% extends '/base.html.twig' %}

{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
    <h1>Actor detail : </h1>
    <section class="program">
        <div class="programContainer">
            <h2>{{ actor.name }}</h2>
            <ul>
                {% for program in actor.programs %}
                    <li><a href="{{ path('program_show', {slug: program.slug}) }}">Dans : {{ program.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <a href="{{ path('actor_index') }}">
        Retour à la liste des acteurs
    </a>
{% endblock %}