<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <h2>Wild-Series</h2>
    <a class="nav-link navLink" href="/">Home</a>
    <a class="nav-link navLink" href="{{ path('program_index') }}">Programs</a>
    <a class="nav-link navLink" href="{{ path('category_index') }}">Categories</a>
    <a class="nav-link navLink" href="{{ path('actor_index') }}">Actors</a>
    <div class="navPushRight">
        {% if app.user and is_granted("ROLE_ADMIN") %}
        <a href="{{ path('season_index') }}">Admin - seasons</a>
        <a href="{{ path('episode_index') }}">Admin - episodes</a>
        {% endif %}
    </div>
    <div class="navPushRight">
        <a href="
        {% if app.user %}
            {{ path('app_my-profile') }}
        {% else %}
            #
        {% endif %}"
         >
            {% if app.user and app.user.pseudo %}
            {{ app.user.pseudo }}
            {% else %}
            {{ app.user.email ?? 'Anonymous user' }}
            {% endif %}
        </a>
        {% if app.user %}
            <a href="{{ path('app_logout') }}"> Se déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}"> Se connecter</a>
        {% endif %}
    </div>
</nav>